@model Icarus.Models.vrptAssertionSummary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vrptAssertionSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Margin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Margin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
