@model IEnumerable<Icarus.Models.vrptExpens>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particulars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATExempt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particulars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATExempt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
