


@model IEnumerable<Icarus.Models.vAdmissionBrowse>


@{
    ViewBag.Title = "Index";
}
<div class="">
    <div class="d-flex mt-2 justify-content-between">
        <input class="form-control col-sm-4" type="search" id="myInput" placeholder="Search" aria-label="Search">
        <div>
            <a class="btn" href="/Admissions/Create" style="background-color:#4E58A2;color:white;">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;
                New Admission
            </a>
            <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#extraLargeModal">
                <span>
                    &nbsp;  @Html.ActionLink("Generate Billing", "AdmInfo")
                </span>
            </button>
        </div>
    </div>
    <hr>
    <div>
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr style="font-size: 13px;">
                    <th>
                        @Html.DisplayNameFor(model => model.IDAdmission)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resident)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nickname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdmissionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalBilling)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPaid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OverallBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastPaymentInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopTFBilling)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phase)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a id="idadmission" href="/Admissions/AdmInfo" style="color:blue;cursor:pointer;text-decoration:underline;">
                                @Html.DisplayFor(modelItem => item.IDAdmission)

                            </a>
                        </td>
                        <td>
                            <a id="idresident" href="/Resident/Details" style="color:blue;cursor:pointer;text-decoration:underline;">
                                @Html.DisplayFor(modelItem => item.Resident)

                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TerminationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBilling)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverallBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastPaymentInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopTFBilling)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phase)
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                @Html.ActionLink("Edit", "Edit", new { id = item.IDAdmission })

                            </button>
                            <button type="button" class="btn btn-sm btn-danger">
                                @Html.ActionLink("Delete", "Delete", new { id = item.IDAdmission })

                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px;
    }

    .tableheadright {
        border-top-right-radius: 15px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>
